{% extends 'base.html' %}

{% block body %}

    {% include 'includes/nav.html' %}
    <div class="container my-5 d-flex justify-content-center">
        <div class="card p-4 shadow-lg" style="max-width: 550px; width: 100%;">
            <div class="text-center">
                <i class="ri-check-line text-success" style="font-size: 60px;"></i>
                {% if is_success %}
                    <h2 class="fw-bold text-success mt-3">
                        {{ status }} {{ payment_status }}
                    </h2>
                {% else %}
                    <h2 class="fw-bold text-danger mt-3">
                        {{ status }} ({{ payment_status }})
                    </h2>
                {% endif %}

                <h5 class="mt-3">
                    Please note your tracking ID:
                    <span class="text-danger fw-bold">{{ order_id }}</span>
                </h5>

                <p class="text-muted mt-3">
                    Use this ID to track your order status and payment confirmation.
                </p>

                <a href="{% url 'order_page' %}" class="btn btn-dark mt-3 px-4">Go to order</a>
            </div>
        </div>
    </div>

{% endblock %}
